.container {
  /* position: relative;
  width: 260px;
  height: 190px;
  margin: 10px;
  display: flex;
  flex-direction: column; */
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .095);
  cursor: pointer;
  
}

.cardImage {
  width: 100%;
  display: block;
  height: 190px;
}

.contentText {
  padding: 0.1em 0em 0.5em 0.5em;
  background-color: #191c56;
  color: #dcdcdc;
  
}


.contentTitle {
  margin-top: 5px;
  margin-bottom: 5px;
}